In [6]:
from handytable.tables import HandyTable

In [7]:
# initializing and appearance

table = HandyTable(
    [[1, 2],
     [3, 4],
     [5, 6]])
table

['', 'A', 'B']
[0, 1, 2]
[1, 3, 4]
[2, 5, 6]

## Inserting new columns and rows with constant values

In [8]:
# adding new column with dump value = 0
table.insert(axis='col', where=-1, dump=0) # where specifies location of new axis(column in out case)

['', 'A', 'B', 'C']
[0, 1, 2, 0]
[1, 3, 4, 0]
[2, 5, 6, 0]

In [9]:
# the same way it is possible to add new row
table.insert('row', where=-1, dump=0)

['', 'A', 'B', 'C']
[0, 1, 2, 0]
[1, 3, 4, 0]
[2, 5, 6, 0]
[3, 0, 0, 0]

In [10]:
# it is also possible to insert row/col at any location you want
table.insert('col', 0, dump=0) # inserting new first column

['', 'A', 'B', 'C', 'D']
[0, 0, 1, 2, 0]
[1, 0, 3, 4, 0]
[2, 0, 5, 6, 0]
[3, 0, 0, 0, 0]

In [11]:
table.insert('row', 0, dump=0) # inserting new first row

['', 'A', 'B', 'C', 'D']
[0, 0, 0, 0, 0]
[1, 0, 1, 2, 0]
[2, 0, 3, 4, 0]
[3, 0, 5, 6, 0]
[4, 0, 0, 0, 0]

## Slicings

In [12]:
# but let's us insert something more informative

# first, delete all new rows and columns
## there are two ways of doing that
## 1) using indexes and reinitialize HandyTable
## 2) selection like in excel and reinitialize HandyTable

In [13]:
# using indexes
table[1:-1, 1:-1] # first index is column, the last â€” row, 1:-1 <=> from second column to the pre_last, the same goes for rows

[[1, 2], [3, 4], [5, 6]]

In [14]:
# using selection
table.select('B1-C3') # syntax is the following: B1 = start cell, C3- last cell, they should be divided by -

In [15]:
# you can also select just one cell
table.select('B1')

In [16]:
# NOTICE: the output of table.select is SubTable e.g. new class (we we examin it later)
# for now, we want to reinitilize
new_table1 = HandyTable(table[1:-1, 1:-1])
new_table1

['', 'A', 'B']
[0, 1, 2]
[1, 3, 4]
[2, 5, 6]

In [17]:
new_table2 = HandyTable(table.select('B1-C3').matrix)
new_table2

['', 'A', 'B']
[0, 1, 2]
[1, 3, 4]
[2, 5, 6]

## Applying function to each rows/columns

In [18]:
# let's calculate the sum value for each row and save the result in new column
# to do that, we need to change set a function to a dump parameter
new_table1.insert(axis='col', where=-1, dump=sum) # using built-in sum function

['', 'A', 'B', 'C']
[0, 1, 2, 3]
[1, 3, 4, 7]
[2, 5, 6, 11]

In [19]:
# the same goes for rows
new_table2.insert('row', -1, sum)

['', 'A', 'B']
[0, 1, 2]
[1, 3, 4]
[2, 5, 6]
[3, 9, 12]

In [20]:
# let's count all elements in a row that satisfy specific condition
# for that, let's define custom function that takes list as param and returns int, str, None or float
def countif(arr, condition):
  # condition should be a lambda function that returns True or False
  return len([i for i in arr if condition(i)])

In [21]:
# let's calculate all even numbers in a row
is_even=lambda x: True if x % 2 == 0 else False

new_table1.insert('col', -1, countif, condition=is_even) # we specify out custom f params

['', 'A', 'B', 'C', 'D']
[0, 1, 2, 3, 1]
[1, 3, 4, 7, 1]
[2, 5, 6, 11, 1]

## Operating with selected values

In [22]:
# let's create new table
t =  HandyTable([['B', '.'],
                [1, 2],
                [3, 4]])
t

['', 'A', 'B']
[0, 'B', '.']
[1, 1, 2]
[2, 3, 4]

In [23]:
# as we can see, the first row is string
# let's change them to a number
t.select('A0-B0').assign(0) # assigning 0 number to selected range

In [24]:
t

['', 'A', 'B']
[0, 0, 0]
[1, 1, 2]
[2, 3, 4]

In [25]:
# Suppose, we want to count  every even value except first row's

t.select('A1-B2').apply(countif, is_even) # there are 2 even numbers in selected range

2

## HandyTable lead-feature: JS integration

In [29]:
# HandyTable has one specifal feature that allows you to manipulate values by hand!
tab = HandyTable([
    [10, 20],
    [30, 40],
    [50, 60]
])
tab

['', 'A', 'B']
[0, 10, 20]
[1, 30, 40]
[2, 50, 60]

In [30]:
tab # you can just navigate mouse clicker to a cell and change the value

['', 'A', 'B']
[0, 10, 20]
[1, 30, 40]
[2, 50, 60]

In [31]:
tab # there are changed dynamicaly

['', 'A', 'B']
[0, 10, 20]
[1, 40, 40]
[2, 50, 60]